@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.logo-image {
  width: 120px;
}

.dots {
  background-color: white;
}

#heading1 {
  color: white;
  font-weight: 600;
  font-family: "Roboto";
  padding-left: 30px;
  font-size: 14px;
}

#heading2 {
  color: white;
  font-weight: 600;
  font-family: "Roboto";
  padding-left: 30px;
  font-size: 14px;
}

#heading3 {
  color: white;
  font-weight: 600;
  font-family: "Roboto";
  padding-left: 30px;
  font-size: 14px;
}

#heading {
  color: white;
  font-weight: 600;
  font-family: "Roboto";
  padding-left: 30px;
  font-size: 14px;
}

#heading5 {
  color: white;
  font-weight: 600;
  font-family: "Roboto";
  padding-left: 30px;
  font-size: 14px;
}

.design-bg-container {
  background-image: url("https://assets.ccbp.in/frontend/responsive-website/landing-section-bg.png");
  background-size: cover;
  height: 100vh;
}

.heading {
  color: white;
  font-weight: 600;
  font-family: "Roboto";
  font-size: 38px;
}

.para {
  color: white;
  font-family: "Roboto";
  font-size: 17px;
}

.discription {
  text-align: center;
}

.but {
  width: 150px;
  height: 50px;
  border-radius: 15px;
  font-weight: bold;
  background-color: #ffdda9;
  border-width: 0px;
}

.span {
  color: #ffdda9;
  font-weight: 600;
  font-family: "Roboto";
  font-size: 38px;
}
