@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.vr-websitebg-card-section {
  background-color: #19232d;
  height: 150vh;
  background-size: cover;
}

.vr-logo-img-card {
  text-align: center;
  margin: 16px;
}

.icon-01 {
  color: #959ead;
  height: 50px;
  width: 50px;
  font-size: 25px;
  background-color: #202b36;
  border-radius: 40px;
  padding-left: 13px;
  padding-right: 17px;
  padding-bottom: 14px;
  padding-top: 12px;
}

.vr-icons-card {
  margin: 9px;
}

.paragraph-01 {
  color: #959ead;
  font-size: 15px;
}

.vr-website-section-bottom {
  color: #959ead;
  font-size: 15px;
}

.heading-01 {
  color: #959ead;
  font-size: 25px;
}

.icon-02 {
  color: #959ead;
  height: 50px;
  width: 50px;
  font-size: 15px;
}
