.home-page-main-bg-container {
  max-height: 100vh;
  max-width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  opacity: 0;
  transform: translateY(20px);
  animation: pageFade 0.9s ease forwards;
}

@keyframes pageFade {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.home-page-cover-photo {
  height: 600px;
  border-radius: 10%;
}

@media screen and (max-width: 768px) {
  .home-page-main-bg-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .home-page-cover-photo {
    height: 200px;
  }
}
