.mynavbar-main-bg-container {
  height: 5%;
  width: 100%;
  background-color: #0ea5e9;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.portfolio-heading {
  font-family: "Bree serif";
  font-weight: bold;
  font-style: italic;
  font-language-override: normal;
}

.mynavbar-list-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.mynavber-list-items-container {
  list-style-type: none;
  display: flex;
  align-items: end;
}

.mynavbar-list-item {
  color: #202020;
  font-family: "Roboto";
  font-size: larger;
  padding-right: 50px;
}
