/* Default: Laptop view visible */
.Mynavbar-LaptopView {
  display: block;
}

/* Mobile view: Laptop view hide 
@media (max-width: 767px) {
  .Mynavbar-LaptopView {
    display: none;
  }
}
  */

/* Default: Mobile view visible */
.Mynavbar-MobileView {
  display: block;
}

/* Laptop & Desktop: Mobile view hide */
@media (min-width: 768px) {
  .Mynavbar-MobileView {
    display: none;
  }
}
