.name {
  font-size: 50px;
}

.sample {
  max-height: 100%;
  max-width: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.html-and-css-projects-main-bg-container {
  max-width: 100%;
  min-height: auto;
  background-color: aqua;
  padding: 20px;
}

.project-container {
  width: 300px;
  height: 300px;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: inset;
}

.back-navigate-button-container {
  display: flex;
  justify-content: end;
  align-items: end;
}
