body {
  padding-top: 70px; /* navbar height */
}

.mynavbar-main-bg-container {
  height: 10%;
  width: 100%;
  background-color: rgb(208, 225, 255);
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.portfolio-heading {
  font-family: "Roboto";
  font-weight: bol d;
  font-language-override: normal;
  font-weight: bold;
  padding: 0px;
  margin-left: 10px;
  padding-top: 5px;
}

.mynavbar-list-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.mynavber-list-items-container {
  list-style-type: none;
  display: flex;
  align-items: end;
}

.mynavbar-list-item {
  font-family: "Roboto";
  font-size: larger;
  padding-right: 50px;
}

.link {
  color: rgb(27, 30, 34);
  font-family: "Roboto";
  text-decoration: none;
}

.link.Active {
  margin-bottom: 20px;
  font-size: 25px;
  border: 4px solid rgb(29, 238, 10);
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  font-weight: bold;
  border-radius: 6px;
  padding-bottom: 3px;
}

.nav-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-profile-icon-img {
  height: 100%;
  border-radius: 20px;
}
