@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.cricket-page-main-bg-container {
  background-color: #e6f6ff;
  background-size: cover;
  width: 100%;
}

.cricket-page-top-container {
  background-color: #fb4e71;
  width: 100%;
  background-size: cover;
  padding: 20px;
}

h1 {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 30px;
  font-weight: 500;
}

.paragragh-01 {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 300;
}

.kl-rahul-top-image {
  height: 200px;
  width: 150px;
}

.crickt-page-bottom-container {
  padding: 20px;
}

.ipl-records-heading {
  color: #323f4b;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 600;
}

.KXIP-vs-RCB-container {
  height: 30%;
  width: 100%;
  background-color: #ffffff;
  border-radius: 20px;
  margin-bottom: 30px;
}

.kl-rahul-middle-image {
  height: 100%;
  width: 120px;
  padding-right: 20px;
}

.kxip-vs-rcb-heading {
  color: #888888;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
}

.KXIP-vs-RCB-description-container {
  padding: 10px;
}

.paragragh-02 {
  color: #323f4b;
  font-size: 13px;
  font-family: "Roboto";
  font-weight: 100;
}

.videos-heading {
  color: #323f4b;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 600;
}

.each-video-container {
  margin-right: 15px;
}

.kl-rahul-video-image {
  height: 100%;
  width: 100%;
}

.paragragh-03 {
  color: black;
  font-size: 13px;
  font-family: "Roboto";
  font-weight: 200;
}

.button {
  font-family: "Roboto";
  font-size: 20px;
  border: 0px solid none;
  margin-bottom: 20px;
}
