@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.fly-buy-card-section {
  background-color: #0d2436;
  background-size: cover;
}

.icons {
  color: #5a7184;
  font-size: 20px;
}

.icons-card {
  background-color: #152c3e;
  height: 50px;
  width: 50px;
  border-radius: 40px;
  padding-left: 17px;
  padding-bottom: 22px;
  padding-right: 16px;
  padding-top: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.paragraph-01 {
  color: #5a7184;
  font-size: 20px;
}

.heading-01 {
  color: #5a7184;
  font-size: 18px;
  font-weight: 500;
}

.list-style-card {
  color: #5a7184;
  font-size: 16px;

  font-weight: 500;
  margin-bottom: 5px;
}

.un-orderd-list-card {
  list-style-type: none;
  padding: 0px;
}

.hr-line {
  background-color: #5a7184;
  color: #5a7184;
}

.paragraph-02 {
  color: #5a7184;
  font-size: 20px;
  padding: 5px;
}
