@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.our-services-card {
  background-color: #ffffff;
  background-size: cover;
}

.heading-01 {
  color: #1f2933;
  font-size: 35px;
  font-weight: bold;
}

.paragraph-01 {
  color: #616c7c;
  font-size: 23px;
  font-weight: 500;
}

.delivery-card {
  background-color: #ffffff;
  background-size: cover;
  padding: 10px;
}

.heading-02 {
  color: #1f2933;
  font-size: 25px;
  font-weight: 500;
}

.paragraph-02 {
  color: #616c7c;
  font-size: 18px;
  font-weight: 500;
}
