@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.Todolist-main-bg-container {
  background-image: url("https://d2clawv67efefq.cloudfront.net/ccbp-static-website/todolistbg.png");
  background-size: cover;
  height: 100vh;
}

.todo-card-header {
  text-align: center;
}

.heading {
  color: #ffffff;
  text-align: center;
  font-family: "Roboto";
  font-size: 48px;
  font-weight: bold;
}

.todo-card-description {
  color: white;
  font-size: 17px;
  font-family: "Roboto";
}

.todo-title-heading {
  color: white;
  font-family: "Roboto";
  padding-top: 20px;
  font-weight: bold;
}

.paragragh {
  color: white;
  font-family: "Roboto";
  font-size: 15px;
}

.button-container {
  text-align: center;
  padding-top: 20px;
}

.button {
  width: 80px;
  height: 35px;
  background-color: orange;
  color: #ffffff;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: bold;
}

.todo-bottom-text {
  color: white;
  font-family: "Roboto";
  text-decoration: underline;
  font-weight: bold;
  font-size: 12px;
}

.back-navigate-button-container {
  display: flex;
  justify-content: end;
  align-items: end;
}
