.chat-page-bg-container {
  background-image: url(" https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/chatbg.png");
}

.person-name {
  text-align: center;
  color: #ffffff;
  background-color: #323f4b;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 600;
  padding: 18px;
}

.msg-container {
  padding: 20px;
}

.first-paragraph {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 14px;
  padding: 14px;
  background-color: #47a3f3;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  text-align: right;
}

.sec-paragraph {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 14px;
  padding: 14px;

  background-color: #52606d;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
