.skills-main-bg-container {
  text-align: center;
  max-width: 100%;
}

.skills-container {
  list-style-type: none;
  text-decoration: none;
  max-width: 100%;
  background-size: cover;
  background-color: aquamarine;
  display: flex;
  justify-content: space-around;
  margin: 40px;
}

.link {
  color: rgb(27, 30, 34);
  font-family: "Roboto";
  text-decoration: none;
}
