.about-main-bg-container {
  max-width: 100%;
  max-height: 100%;
  background-color: rgb(250, 250, 250);
  display: flex;
}

.about-left-side-container {
  max-width: 50%;
  max-height: 100%;
}

.about-right-side-container {
  max-width: 50%;
  max-height: 100%;
}
