@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.empower-bg-container-section {
  background-color: #225db0;
  min-height: calc(100vh - 70px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.empower-articles-section-card {
  text-align: center;
  background-color: #ffffff;
  height: 250px;
  width: 300px;
  border-radius: 6px;
  padding: 25px;
  margin: 10px;
}
.empower-articles-section-card:hover {
  border: 4px solid rgb(67, 253, 10);
  cursor: pointer;
  outline: none;
  height: 240px;
  width: 290px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.articles-technology-icon-img {
  height: 40px;
  width: 50px;
}

.empower-heading {
  color: #ffffff;
  font-size: 40px;
  font-family: "Roboto";
}

.empower-paragraph {
  color: #ffffff;
  font-size: 18px;
  font-family: "Roboto";
}

.Artical-cards-containers {
  display: flex;
}

.empower-main-heading-section {
}

.Categories-Icons-paragraph {
  color: #1f2933;
}

.empower-bg-container-section-01 {
  background-color: #225db0;
  background-size: cover;
  padding: 20px;
  margin-bottom: 10px;
}

.carousel-imge-bg-card {
  margin: 15px;
}

.carousel-imge-bg-card {
  color: #ffffff;
  font-size: 32px;
}

.Carousel-Images-paragraph {
  padding: 25px;
}

.BootStrap-carosel-container {
  min-height: calc(100vh - 70px);
  background-color: #225db0;
  padding: 10px;
  display: flex;
}

.Carousel-container {
  width: 50%;
  min-height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Artical-technology-carousel-img {
  width: 90%;
  height: 50%;
}

.List-of-topics-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.List-of-topics-heading {
  color: #ffffff;
  font-size: 60px;
  font-family: "roboto";
  font-weight: 800;
  text-decoration: underline;
}

.list-of-topics-container {
}

.list-of-topics-list-item {
  color: #ffffff;
  font-family: "roboto";
  font-size: 20px;
}

.list-of-topics-button {
  color: #ffffff;
  background-color: #225db0;
  border-color: #ffffff;
}
