@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.food-order-pade-main-bg-container {
  background-image: url(" https://d2clawv67efefq.cloudfront.net/ccbp-static-website/foodbg.png");
  min-height: calc(100vh - 70px);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-top: 20px;
}

.food-order-card-container {
  background-color: #f6c56e;
  background-size: cover;
  padding: 30px;
  border-radius: 20px;
}

.food-order-card-heading {
  font-family: "Bree-Serif";
  color: #323f4b;
  font-weight: 600;
}

.fodd-order-card-paragragh {
  font-family: "Roboto";
  font-size: 15px;
  color: #323f4b;
  font-weight: 500;
}

.food-order-button {
  background-color: #ffffff;
  font-family: "roboto";
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .food-order-pade-main-bg-container {
    justify-content: center;
    align-items: center;
  }
  .food-order-card-container {
    height: 400px;
    width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .food-order-card-heading {
    font-size: 50px;
  }
  .food-order-card-paragragh {
    font-size: 25px;
  }
  .food-order-button {
    width: 150px;
    height: 50px;
    font-size: 20px;
  }
}
