@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.music-page-main-bg-container {
  background-image: url("https://new-assets.ccbp.in/frontend/static-website/moon-stars-bg.png");
  height: 100vh;
  background-size: cover;
}

.home-page-text-container {
  height: 40vh;
  padding: 30px;
}

.home-page-heading {
  color: #ffffff;
}

.home-page-para-content {
  color: #ffffff;
}

.cerd {
  padding: 30px;
}

.night-island-container {
  background-image: url("https://d2clawv67efefq.cloudfront.net/ccbp-static-website/moon-bg.png");
  height: 23vh;
  background-size: cover;
  margin-bottom: 5px;
  color: #ffffff;
  font-family: "Bree Serif";
}

.get-start-container {
  text-align: center;
}

.para {
  color: #ffffff;
}

.button {
  height: 30px;
  width: 100px;
  background-color: #8e97fd;
  color: #ffffff;
  font-size: 13px;
  font-family: "Bree Serif";
  border: 0px solid #8e97fd;
  border-radius: 10px;
}

.music-details-page-container {
  background-color: #03174c;
  background-size: cover;
  min-height: 100vh;
}

.music-detail-page-image {
  width: 100vw;
}

.text-container {
  padding: 20px;
  color: #ffffff;
  font-family: "Bree serif";
  padding: 20px;
}

.heading-01 {
  font-size: 30px;
}

.para-01 {
  font-size: 14px;
  color: #8e97fd;
}

.para-02 {
  color: #8e97fd;
}

.heading-02 {
  font-size: 20px;
}

.moon-clouds-image {
  height: 130px;
  width: 170px;
}

.Moon-Clouds {
  padding-right: 15px;
}
