@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.explore-deals-card-section {
  background-color: #f5f7fa;
  height: 350vh;
  background-size: cover;
}

.heading-01 {
  font-size: 45px;
}

.electronics-card-section {
  background-color: #ffffff;
  background-size: cover;
  margin: 10px;
  padding: 20px;
  border-radius: 9px;
}

.heading-02 {
  font-size: 25px;
  font-weight: bold;
}

.ecommerce-explore-mamba-watch-img {
  border-radius: 12px;
}

.paragraph-01 {
  font-size: 15px;
  font-weight: 500;
  padding: 15px;
}

.smart-watch-card {
  margin: 10px;
}

.paragraph-02 {
  font-size: 15px;
  color: #ff9f00;
  font-weight: bold;
}
